<div class="row">
    <div class="large-4 medium-4 columns">
        <div class="callout panel">
            <h3>System section</h3>
            list of system here
        </div>
    </div>

    <div class="large-8 medium-8 columns">
        <div class="callout panel">
            <h3>Folders section</h3>
            Dragndrop here
        </div>
    </div>
</div>