<div class="row">
    <div class="large-12 columns">
        <form id="" action="/Config" method="post">
        <div>
            <label>Content</label>
            <textarea name="recalboxconf" placeholder="small-12.columns" style="height: 500px;">{{conf}}</textarea>
        </div>
        <div class="text-center">
            <input type="submit" value="Save" class="small radius button"/>
        </div>
        </form>
    </div>
</div>