<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang=" lang="en""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <title>{{page_title}} - Recalbox management</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/recalbox.min.css">
    <script src="/js/modernizr.min.js"></script>
</head>
<body>

<div class="fixed">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <p class="title-1">
                    <a href="/"><img src="/images/logo.png" class="logo" alt=""></a>
                </p>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right social-badges">
                <li><a href="https://twitter.com/digitaLumberjak" target="_blank"><i class="fi-social-twitter size-16"></i></a></li>
                <li><a href="https://www.facebook.com/recalbox" target="_blank"><i class="fi-social-facebook size-16"></i></a></li>
                <li><a href="https://github.com/digitalLumberjack/recalbox-os" target="_blank"><i class="fi-social-github size-16"></i></a></li>
            </ul>

            <!-- Left Nav Section -->
            <ul class="left">
                <li><a href="/Roms/home">Roms</a></li>
                <li><a href="/Bios">Bios</a></li>
                <li><a href="/Config">Config</a></li>
                <li><a href="/Log">Log</a></li>
                <li class="has-dropdown">
                    <a href="#">Liens</a>
                    <ul class="dropdown">
                        <li><a href="http://blog.recalbox.com/forums" target="_blank">Forum</a></li>
                        <li><a href="https://kiwiirc.com/client/irc.freenode.net/#recalbox" target="_blank">IRC</a></li>
                    </ul>
                </li>
            </ul>
        </section>
    </nav>
</div>

<div id="body_content">
    <div class="row">
        <div class="large-12 columns">
            <h1>{{page_title}}</h1>
        </div>
    </div>

    {{{body}}}
</div>

<script src="/js/vendor.min.js"></script>
<script type="text/javascript">
//<![CDATA[
    $(document).foundation();
//]]>
</script>
</body>
</html>
