<div class="row">
    <div class="large-12 medium-12 columns">
        <div class="callout panel">
            <h3>System section</h3>
        </div>
        <ul class="small-block-grid-6 text-center">
            {{#each directory}}
                <li class="">
                    <a href="/Roms/{{this}}">
                        <i class="fi-folder" style="color: #E08942; font-size: 3em"></i><br />
                        {{this}}
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
</div>